:root {
  --theme-color: #8430ab;
  font-family: "Crimson Text", serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body,
h1,
h2,
#top3 figure,
figcaption > p,
footer > p {
  margin: 0;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--theme-color);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-top: 1.5em;
  padding-left: 1.5em;
  font-family: "Andika", sans-serif;
  text-transform: lowercase;
  letter-spacing: .05em;
  word-spacing: .2em;
}

header > nav > ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}

header > nav > ul > li {
  display: flex;
}

.button {
  height: 100%;
  padding: 0 2em;
  margin: 0 1em;
  font-family: "Andika", serif;
  color: initial;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: lowercase;
}

.button:hover {
  background-color: var(--theme-color);
  color: #fff;
  transition: color, background-color .4s;
}

.button:active {
  background-color: #5e1682;
}

#logo {
  margin: 0;
  padding: 0 1em;
  font-family: "Bree Serif", serif;
}

#contacts_button[open] > summary::after {
  content: "";
  width: 0;
  height: 0;
  border: 8px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 44px;
}

#contacts_button[open] > summary {
  background-color: var(--theme-color);
  color: #fff;
}

#contacts_button[open] > address {
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  padding: 2px 6px;
  margin: 2px 0;
  position: absolute;
  box-shadow: 0px 1px 4px var(--theme-color);
}

#contacts_button[open] a {
  font-family: "Andika", sans-serif;
}

#contacts_button[open] ol {
  padding: .5em 1em;
}

#contacts_button ol > li {
  font-style: normal;
  line-height: 1.5em;
  list-style-position: inside;
}

#contacts_button ol > li:nth-child(1) {
  list-style-type: "📱 ";
}

#contacts_button ol > li:nth-child(2) {
  list-style-type: "📧 ";
}

#top3 {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 1024px;
  margin: 0 auto;
}

#top3 ol {
  min-height: 0;
  flex: 0 1 512px;
  overflow: clip;
  margin: 0;
  padding: 0;
  display: flex;
}

#top3 li {
  list-style-type: none;
  overflow: clip;
  width: 25%;
  flex: 1 0 25%;
  transition: flex .4s;
}

#top3 li:nth-child(2) {
  order: -1;
}

#top3 li:hover {
  flex: 1 0 50%;
}

#top3:not(:hover) li:first-child {
  flex: 1 0 50%;
}

#top3 figure {
  height: 100%;
}

#top3 img {
  max-height: 512px;
  object-fit: cover;
}

#top3 figcaption {
  font-family: "Crimson Text", serif;
  font-size: 18px;
  color: #fff;
  background-color: rgba(0,0,0,.6);
  position: relative;
  bottom: 35px;
  height: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height, bottom .4s;
}

#top3 figcaption > p {
  display: none;
}

#top3 li:hover figcaption {
  bottom: calc(100% + 4px);
  height: 100%;
  justify-content: end;
}

#top3 li:hover figcaption > p {
  display: block;
  flex-grow: 1;
  max-height: 100%;
  text-align: center;
  padding: 50px;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 2.2em;
}

#menu {
  margin: 0;
  padding: 0 10em;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid var(--theme-color);
}

#menu > li {
  display: inline-block;
  height: 60px;
}

#salads, #breakfasts, #desserts {
  margin: 0;
  padding: 0;
  display: none;
}

#salads:target ~ #meals,
#breakfasts:target ~ #meals,
#desserts:target ~ #meals {
  display: none;
}

#meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
  padding: 3em;
}

#meals:target,
#salads:target,
#breakfasts:target,
#desserts:target {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
  padding: 3em;
}

/* CSS !programming language but this is the best I can do
 * until I learn JavaScript */
#salads:target ~ #meals,
#breakfasts:target ~ #meals,
#desserts:target ~ #meals {
  display: none;
}

#meals > li,
#salads > li,
#breakfasts > li,
#desserts > li {
  display: inline-block;
}

main img {
  object-fit: cover;
  width: 100%;
  height: 80%;
}

main figure {
  margin: 0;
  padding: 0;
  height: 60vh;
  width: 100%;
  border-radius: 0.5em;
  box-shadow: 0 0 4px var(--theme-color);
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main figcaption {
  font-size: 22px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.price {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.2em;
  align-self: end;
  color: var(--theme-color);
}

.price::after {
  font-size: 0.5em;
  margin: 0 0.5em;
  content: "UZS";
}

footer {
  line-height: 2em;
  margin: 50px 2vw 0;
  text-align: center;
}

footer > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer > ul > li {
  display: inline-block;
  font: 0.9em "Crimson Text";
  margin: 0;
  padding: 0 .6em;
}

footer > ul > li:not(:last-child) {
  border-right: 1px solid black;
}
