:root {
  --theme-color: #8430ab;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  outline: none;
}

body,
h1,
h2,
#top3 figure,
figcaption > p,
footer > p {
  margin: 0;
}

header {
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: var(--theme-color);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: inherit;
}

h2 {
  margin-top: 0.5em;
  padding-left: 0.5em;
  font-family: "Andika", sans-serif;
  text-transform: lowercase;
  letter-spacing: .05em;
  word-spacing: .2em;
}

header > nav {
  width: 100%;
}

header > nav > ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#contacts {
  display: none;
}

header > nav > ul > li,
#menu > li {
  background: url("") center/40px no-repeat;
  display: flex;
  font-size: 0;
}

header > nav > ul > li:first-child {
  background-image: url("../icons/menu_64.png");
}

header > nav > ul > li:last-child {
  background-image: url("../icons/telegram.svg");
}

header ul a {
  width: 25vw;
}

.button {
  padding: 0 2em;
  margin: 0 1em;
  font-family: "Andika", serif;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: lowercase;
}

.button:active {
  background-color: #5e1682;
  z-index: -1;
}

#logo {
  margin: 0;
  padding: 0 1em;
  font-family: "Bree Serif", serif;
}

#top3 > ol {
  margin: 0;
  padding: 0;
}

#top3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#top3 {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

#top3 > ol {
  min-height: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

#top3 > ol > li {
  height: 25%;
  flex: 1 0 25%;
  overflow-y: clip;
  transition: flex .4s;
}

#top3:not(:hover) li:first-child, #top3:not(:active) li:first-child {
  flex: 0 1 50%;
}

#top3:hover li:first-child:not(:hover) {
  flex: 1 0 25%;
}

#top3 li:hover {
  flex: 0 1 50%;
}

#top3 figure {
  height: 100%;
}

#top3 figcaption {
  font-family: "Crimson Text", serif;
  font-size: 18px;
  color: #fff;
  background-color: rgba(0,0,0,.6);
  position: relative;
  bottom: 35px;
  height: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height, bottom .4s;
}

#top3 figcaption > p {
  display: none;
}

#top3 li:hover figcaption {
  bottom: calc(100% + 4px);
  height: 100%;
  justify-content: end;
}

#top3 li:hover figcaption > p {
  display: block;
  flex-grow: 1;
  max-height: 100%;
  text-align: center;
  padding: 50px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--theme-color);
  flex: 0 1 60px;
}

#menu > li {
  background: url("") center/40px no-repeat;
  display: flex;
  font-size: 0;
  height: 100%;
  width: 100%;
}

#menu > li:nth-child(1) {
  background-image: url("../icons/food_64_light.png");
}

#menu > li:nth-child(2) {
  background-image: url("../icons/salad_64_light.png");
}

#menu > li:nth-child(3) {
  background-image: url("../icons/breakfast_64_light.png");
}

#menu > li:nth-child(4) {
  background-image: url("../icons/cupcake_64_light.png");
}

#menu a {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

#salads,
#breakfasts,
#desserts {
  display: none;
}

#meals,
#meals:target,
#salads:target,
#breakfasts:target,
#desserts:target {
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-padding: 20px;
  scroll-snap-align: center;
}

#salads:target ~ #meals,
#breakfasts:target ~ #meals,
#desserts:target ~ #meals {
  display: none;
}

#meals > li,
#salads > li,
#breakfasts > li,
#desserts > li {
  display: inline-block;
  flex: 1 0 75%;
  margin: 20px;
}

main figure {
  margin: 0;
  padding: 0;
  height: 60vh;
  width: 100%;
  border-radius: 0.5em;
  box-shadow: 0 0 4px var(--theme-color);
  overflow: clip;
  display: flex;
  flex-direction: column;
  font-family: "Crimson Text", serif;
}

main img {
  object-fit: cover;
  width: 100%;
  height: 80%;
}

main figcaption {
  font-size: 22px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.price {
  margin: 0;
  padding: 0;
  align-self: end;
  font-size: 30px;
  font-weight: bold;
  color: var(--theme-color);
}

.price::after {
  font-size: 1.1rem;
  margin: 0 0.8rem;
  content: "UZS";
}

footer {
  line-height: 2em;
  margin-top: 2em;
  padding: 1.5em 0;
  text-align: center;
  background-color: var(--theme-color);
}

footer > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a, footer {
  color: #fff;
}

footer > ul > li {
  display: inline-block;
  font: 0.9em "Crimson Text";
  margin: 0;
  padding: 0 .6em;
}

footer > ul > li:not(:last-child) {
  border-right: 1px solid black;
}
